.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
/target/

### Log ###
/log/
*.log
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.jdt.core.prefs
