<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="baseDir">./logs</Property>
        <Property name="pattern">%d{HH:mm:ss.SSS} %-5p --- [%t] %c{1} : %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="system_out">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <RollingFile name="rollingFile" ignoreExceptions="false" filePattern="${baseDir}/%d{yyyy-MM-dd}.%i.log" fileName="${baseDir}/hang-out-alone.log">
            <PatternLayout pattern="${pattern}" charset="UTF-8"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="nomax">
                <Delete maxDepth="2" basePath="${baseDir}">
                    <IfFileName glob="*.log"/>
                    <IfLastModified age="14d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>